.pokemon-form {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 500px; /* Ajustado para dar espacio a las etiquetas */
    margin: auto;
    display: flex;
    flex-direction: column;
}

.pokemon-form h2 {
    text-align: center;
    color: #333;
}

.input-group {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.input-group label {
    width: 100px; /* Asegura que todas las etiquetas tengan el mismo ancho */
    margin-right: 10px; /* Espacio entre la etiqueta y el input */
    font-weight: bold;
    color: #666;
}

.pokemon-form input[type="text"],
.pokemon-form input[type="number"],
.pokemon-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1; /* Ocupa el espacio restante en el contenedor */
}

.pokemon-form button {
    background-color: #4285F4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.pokemon-form button:hover {
    background-color: #357ae8;
}

input:focus, select:focus {
    border-color: #4a90e2;
    outline: none;
}

/* Ajustes para números, sin botones de incremento/decremento */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Responsive */
@media (max-width: 600px) {
    .pokemon-form {
        width: 90%;
        padding: 10px;
    }
    .input-group label {
        width: auto; /* Las etiquetas se ajustan al contenido en pantallas pequeñas */
    }
}